* {
	padding: 0;
	margin: 0;
}

canvas {
	background: #bfd1e5;
}

.loadBar {
	font-size: 11px;
}

.ui-progressbar-value {
	background-image: url('images/pbar-ani.gif');
}

#chatBox {
	display: none;
}