* { padding: 0; margin: 0; }

canvas {
    position: absolute;
    z-index: 1;
}

#chatbox {
    width: 400px;
    height: 200px;
    position: absolute;
    left: 20px;
    bottom: 150px;
    background: #eee;
    padding: 10px;
    z-index: 2;
    display: none;
    opacity: 0.8;
}

#chat {
    width: 390px;
    height: 165px;
    background: #555;
    margin-bottom: 5px;
    color: white;
    padding: 5px;
    font-size: 12px;
    overflow: hidden;
}

#talk {
    border: 0;
    outline: 0;
    padding: 3px 5px;
    width: 390px;
}